recursive-include mezzanine_tools/googleforms/templates *
recursive-include mezzanine_tools/googlemaps/templates *
recursive-include mezzanine_tools/newsletter/templates *
recursive-include mezzanine_tools/newsletter/static *