<div class="shop-subscribe">
    <div class="container">
        <form id="newsletter_form" method="post" action="{% url 'newsletter:register' %}" class="row">
            <div class="col-md-8 md-margin-bottom-20">
                <h2>subscribe to our weekly <strong>newsletter</strong></h2>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    {% csrf_token %}
                    <input name="email" type="text" class="form-control" placeholder="Email your email...">
                    <span class="input-group-btn">
                        <button class="btn" type="submit"><i class="fa fa-envelope-o"></i></button>
                    </span>
                </div>
            </div>
        </form>
    </div><!--/end container-->
</div>